# Compiled and temp
*.class
*.jar
*.bin
**/bin/
**/tmp/

# Log files and crash reports
*.log
hs_err_pid*

# Eclipse
.classpath
.project
.settings
.reccommenders

# Linux
*.directory

# Gradle stuff
#*.gradletasknamecache
**/.gradle
#**/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
